extends layout

block content
    h1= "To jest mem:"
    img(src=meme.url)
    table(style='min-width:100px; text-align: center', border='2')
        tr 
            th(colspan=meme.priceOverTime.length) Ceny (od aktualnej do najstarszej):
        tr
        each price in meme.priceOverTime
            td(style='min-width:40px') #{price}

    h2="Podaj nową cenę mema:"
    form(method="post")
        input(type="number" name="price")
        input(type="submit", value="add")